<!DOCTYPE html>
<html th:replace="~{_plantilla :: plantilla(~{::title}, ~{::table})}" lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Libros</title>
</head>
<body>

	<table class="table table-sm table-hover table-bordered table-striped">
		<caption>Libros</caption>
		<thead class="table-dark">
			<tr>
				<th class="text-end" scope="col">Id</th>
				<th scope="col">Nombre</th>
				<th class="text-end" scope="col">ISBN</th>
				<th scope="col">Precio</th>
			</tr>
		</thead>

		<tfoot class="table-dark">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>

			</tr>
		</tfoot>
	</table>
	</body>
</html>