<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>ListadoServletLibros</display-name>
    <servlet-name>ListadoServletLibros</servlet-name>
    <servlet-class>com.ipartek.examenModulo.ladoServ.ListadoServletLibros</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoServletLibros</servlet-name>
    <url-pattern>/ListadoServletLibros</url-pattern>
  </servlet-mapping>
  <display-name>ExamenModulo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.ipartek.examenModulo.listener.InicioServListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ipartek.examenModulo.ladoServ.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.ipartek.examenModulo.ladoServ.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibroServlet</display-name>
    <servlet-name>LibroServlet</servlet-name>
    <servlet-class>com.ipartek.examenModulo.ladoServ.admin.LibroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibroServlet</servlet-name>
    <url-pattern>/LibroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CambiosServlet</display-name>
    <servlet-name>CambiosServlet</servlet-name>
    <servlet-class>com.ipartek.examenModulo.ladoServ.admin.CambiosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiosServlet</servlet-name>
    <url-pattern>/CambiosServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.ipartek.examenModulo.filtros.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarLibroServlet</display-name>
    <servlet-name>BorrarLibroServlet</servlet-name>
    <servlet-class>com.ipartek.examenModulo.ladoServ.admin.BorrarLibroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarLibroServlet</servlet-name>
    <url-pattern>/BorrarLibroServlet</url-pattern>
  </servlet-mapping>
</web-app>