<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductoListadoController</display-name>
    <servlet-name>ProductoListadoController</servlet-name>
    <servlet-class>com.ipartek.formacion.mf0966ejemplo.controladores.admin.ProductoListadoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoListadoController</servlet-name>
    <url-pattern>/ProductoListadoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductoBorrar</display-name>
    <servlet-name>ProductoBorrar</servlet-name>
    <servlet-class>com.ipartek.formacion.mf0966ejemplo.controladores.admin.ProductoBorrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoBorrar</servlet-name>
    <url-pattern>/ProductoBorrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacturasListado</display-name>
    <servlet-name>FacturasListado</servlet-name>
    <servlet-class>com.ipartek.formacion.mf0966ejemplo.controladores.admin.FacturasListado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacturasListado</servlet-name>
    <url-pattern>/FacturasListado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacturasProductoListado</display-name>
    <servlet-name>FacturasProductoListado</servlet-name>
    <servlet-class>com.ipartek.formacion.mf0966ejemplo.controladores.admin.FacturasProductoListado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacturasProductoListado</servlet-name>
    <url-pattern>/FacturasProductoListado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnadirCarrito</display-name>
    <servlet-name>AnadirCarrito</servlet-name>
    <servlet-class>com.ipartek.formacion.mf0966ejemplo.carrito.AnadirCarrito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnadirCarrito</servlet-name>
    <url-pattern>/AnadirCarrito</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.ipartek.formacion.mf0966ejemplo.carrito.InicializarCarrito</listener-class>
  </listener>
  <listener>
    <listener-class>com.ipartek.formacion.mf0966ejemplo.carrito.InicializarCarrito</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.ipartek.formacion.mf0966ejemplo.controladores.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.ipartek.formacion.mf0966ejemplo.controladores.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>filtros.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/AdminFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>IndexPrincipal</display-name>
    <servlet-name>IndexPrincipal</servlet-name>
    <servlet-class>com.ipartek.formacion.mf0966ejemplo.controladores.admin.IndexPrincipal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPrincipal</servlet-name>
    <url-pattern>/IndexPrincipal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoCarrito</display-name>
    <servlet-name>ListadoCarrito</servlet-name>
    <servlet-class>com.ipartek.formacion.mf0966ejemplo.controladores.admin.ListadoCarrito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoCarrito</servlet-name>
    <url-pattern>/ListadoCarrito</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarCarrito</display-name>
    <servlet-name>BorrarCarrito</servlet-name>
    <servlet-class>com.ipartek.formacion.mf0966ejemplo.carrito.BorrarCarrito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarCarrito</servlet-name>
    <url-pattern>/BorrarCarrito</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CheckOutFilter</display-name>
    <filter-name>CheckOutFilter</filter-name>
    <filter-class>filtros.CheckOutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckOutFilter</filter-name>
    <url-pattern>/CheckOutFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutController</display-name>
    <servlet-name>CheckOutController</servlet-name>
    <servlet-class>com.ipartek.formacion.mf0966ejemplo.carrito.CheckOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutController</servlet-name>
    <url-pattern>/CheckOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarritoTotalControler</display-name>
    <servlet-name>CarritoTotalControler</servlet-name>
    <servlet-class>com.ipartek.formacion.mf0966ejemplo.carrito.CarritoTotalControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarritoTotalControler</servlet-name>
    <url-pattern>/CarritoTotalControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StriperController</display-name>
    <servlet-name>StriperController</servlet-name>
    <servlet-class>com.ipartek.formacion.mf0966ejemplo.controladores.StriperController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StriperController</servlet-name>
    <url-pattern>/StriperController</url-pattern>
  </servlet-mapping>
</web-app>